hosts
data/someonewhocares.org/hosts
data/mvps.org/hosts
data/malwaredomainlist.com/hosts
data/yoyo.org/hosts
data/adaway.org/hosts
data/hosts-file.net/hosts
data/adzhosts/hosts
myhosts
whitelist
*.orig
*kate*
*BASE*
*REMOTE*
*LOCAL*
*BACKUP*
*.save
dnsmasq.excludes.conf
